*/.DS_Store

.DS_Store
.coverage/
.vimrc
.vscode/
_dist/
_proto/*.pb.go
vendor/
*.exe
.idea/
*.iml
*.swp
*~
.classpath
.project
.settings/**
# Chart dependencies
**/charts/*.tgz
*.lock
venv
*.tar
__pycache__/
*.pyc
.terraform
.terraform.*
.terraformignore