prowjob_namespace: prow
pod_namespace: test-pods
log_level: debug

in_repo_config:
  enabled:
    "*": true

plank: # replace 3 domain names
  job_url_template: 'https://prow.danrong.io/view/s3/aws-gcr-prow-logs{{if
    eq .Spec.Type "presubmit"}}/pr-logs/pull/{{.Spec.Refs.Org}}_{{.Spec.Refs.Repo}}/{{with
    index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}{{else if eq .Spec.Type "batch"}}/pr-logs/pull/batch{{else}}/logs{{end}}/{{.Spec.Job}}/{{.Status.BuildID}}'
  job_url_prefix_config:
    "*": http://prow.danrong.io/view/
  report_templates:
    '*': >-
      [Full PR test history](http://prow.danrong.io/pr-history?org={{.Spec.Refs.Org}}&repo={{.Spec.Refs.Repo}}&pr={{with index .Spec.Refs.Pulls 0}}{{.Number}}{{end}}).
      [Your PR dashboard](http://prow.danrong.io/pr?query=is:pr+state:open+author:{{with
      index .Spec.Refs.Pulls 0}}{{.Author}}{{end}}).
  pod_pending_timeout: 15m
  default_decoration_configs:
    "*":
      timeout: 60m
      grace_period: 15s
      utility_images:
        clonerefs: gcr.io/k8s-prow/clonerefs:v20211111-bce61c7c4a
        entrypoint: gcr.io/k8s-prow/entrypoint:v20211111-bce61c7c4a
        initupload: gcr.io/k8s-prow/initupload:v20211111-bce61c7c4a
        sidecar: gcr.io/k8s-prow/sidecar:v20211111-bce61c7c4a
      gcs_configuration:
        bucket: s3://aws-gcr-prow-logs # replace by your own bucket name
        path_strategy: explicit
      s3_credentials_secret: s3-credentials
      oauth_token_secret:
        name: oauth-token
        key: oauth
      resources:
        clonerefs:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: "1"
            memory: 1.5Gi
        initupload:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: "1"
            memory: 1.5Gi
        place_entrypoint:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: "1"
            memory: 1.5Gi
        sidecar:
          requests:
            cpu: 500m
            memory: 1Gi
          limits:
            cpu: "1"
            memory: 1.5Gi

sinker:
  resync_period: 1m
  max_prowjob_age: 360h
  max_pod_age: 24h
  terminated_pod_ttl: 30m

deck:
  spyglass:
    size_limit: 500000000 # 500MB
    lenses:
      - lens:
          name: metadata
        required_files:
          - started.json|finished.json
      - lens:
          config:
          name: buildlog
        required_files:
          - build-log.txt
      - lens:
          name: junit
        required_files:
          - .*/junit.*\.xml
      - lens:
          name: podinfo
        required_files:
          - podinfo.json
  tide_update_period: 1s
  view_auth_configs:
    "*":
      allow_anyone: true
  rerun_auth_configs:
    "*":
      github_users:
        - TerrificMao

tide:
  sync_period: 15s
  queries:
    - orgs:
        - awsgcr
      labels:
        - lgtm
        - approved
      missingLabels:
        - do-not-merge
        - do-not-merge/hold
        - do-not-merge/invalid-owners-file
        - do-not-merge/work-in-progress
        - needs-rebase
        - do-not-merge/invalid-commit-message
        - do-not-merge/kube-deploy-invalid
        - do-not-merge/files-too-large
  merge_method:
    awsgcr: squash
  target_url: https://prow.danrong.io/tide
  pr_status_base_urls:
    "*": https://prow.danrong.io/pr
  blocker_label: tide/merge-blocker
  squash_label: tide/merge-method-squash
  rebase_label: tide/merge-method-rebase
  merge_label: tide/merge-method-merge

presets:
  - labels:
      preset-project1-prod-deploy-all: "true"
    volumes:
      - name: kube-config
        configMap:
          name: kube-deploy-config
      - name: aws-config
        configMap:
          name: aws-deploy-config
          items:
            - key: project1-aws-config
              path: project1-config
    volumeMounts:
      - name: kube-config
        mountPath: /root/.kube/config
        subPath: all
        readOnly: true
      - name: aws-config
        mountPath: /root/.aws/config
        subPath: project1-config
        readOnly: true

presubmits:
  awsgcr/gitops-prow-demo:
    - name: presubmit-run-unit-test
      agent: kubernetes
      always_run: true
      spec:
        containers:
          - image: golang:latest
            command: [ "go","test","." ]

periodics:
  - interval: 2h
    agent: kubernetes
    name: prow-cronjob-schedule-trigger
    spec:
      containers:
        - image: alpine
          command: ["/bin/date"]
